* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabecalho-perfil {
  background-color: antiquewhite;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.cabecalho-perfil .cabecalho-perfil-avatar {
  width: 150px;
  height: 150px;
  background-color: rgb(53, 56, 201);
  border-radius: 50%;
  margin: 0px auto;
}
.cabecalho-perfil .cabecalho-perfil-avatar p {
  color: white;
  font-size: 50px;
  line-height: 150px;
}
.cabecalho-perfil .cabecalho-perfil-funcao {
  color: darkgray;
  font-size: 15px;
}

.conteudo-pagina {
  display: inline;
  background-color: lightgray;
  text-align: center;
}
.conteudo-pagina .secao-sobre {
  margin: 0 auto;
  padding: 20px;
}
.rodape-pagina {
  display: block;
  background-color: aquamarine;
  color: darkgray;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
